<div class="container">
    <div class="left-side">

        <mat-card>
            <mat-card-header class="title">
                <mat-card-title class="title-info">Information about car</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="" alt="photo of car">
            <mat-card-content>
                <p>Car name: XYZ</p>
                <p>Type: ABC</p>
                <p>Marking: 2023</p>
                <p>Destiny: XYZ123</p>
                <p>Operational number: XYZ123</p>
                <p>Person responsible for the car: XYZ123</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="right-side">

        <mat-card>
            <mat-card-header class="title">
                <mat-card-title class="title-equipment">Equipment on car</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <h3 mat-line>Nazwa sprzętu</h3>
                        <p mat-line>Szczegóły: Numer seryjny: 123, Stan: dobry</p>
                        <p mat-line>Opis: Opis sprzętu</p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>