<mat-toolbar color="warn">
  <span routerLink="/">Fire truck</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEmployeesModal()">
    Add/edit eployees
  </button>
  <button
    mat-raised-button
    routerLink="/add-equipment"
    (click)="openChangeCarModal()"
  >
    Equipments
  </button>
  <button mat-raised-button (click)="openAddEditDialog()">
    {{ addCarLabel }}
  </button>
  <button
    mat-raised-button
    routerLink="/equipment"
    (click)="openChangeCarModal()"
  >
    {{ equipmentLabel }}
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
