.dialog-title {
    color: #333;
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .dialog-content {
    padding: 20px;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  mat-form-field{
    width: 100%;
  }

  .filter{
    margin-top: 2rem;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  