.dialog-title {
    color: #333;
    padding: 30px;
    display: flex;
    justify-content: center;
  }
  
  .dialog-content {
    padding: 20px;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  


  mat-form-field{
    margin-left: 1rem;
  }
  