<div mat-dialog-title class="dialog-title">
    <h2>Delete Confirmation</h2>
  </div>
  
  <div mat-dialog-content class="dialog-content">
    <p class="delete-message">
      Are you sure you want to delete {{data.name}} {{data.surname}} ? This action cannot be undone.
    </p>
  </div>
  
  <div mat-dialog-actions class="dialog-actions">
    <button mat-button class="cancel-btn" (click)="closeModal()">Cancel</button>
    <button mat-raised-button color="warn" class="delete-btn" (click)="confirmDelete()">
      Delete
    </button>
  </div>
  