<div mat-dialog-title class="dialog-title">
    <h1>Select car</h1>
</div>
<div mat-dialog-content class="dialog-content">
    <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select (selectionChange)="onCarSelectionChange($event)">
            <mat-option *ngFor="let carName of carNames" [value]="carName">{{ carName }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button (click)="sumbit()" >Submit</button>
    <button mat-raised-button (click)="closeModal()">Cancel</button>
</div>