.content {
  padding-top: var(--padding-medium);
}
.row {
  display: flex;
  gap: var(--padding-medium);

  mat-form-field {
    width: 100%;
  }

  mat-radio-group {
    margin-bottom: 20px;
  }
}

.buttons {
  padding: 0px 25px 20px;
  button {
    flex: 1;
  }
}

mat-error {
  background-color: var(--background-color);
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.upload-container {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}
